<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- web icon -->
    <link rel="icon" href="../static/brand.jpg" type="image">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/base.css">
    <title>home</title>
</head>
<body class="contain">
    <div style="background-color: blue;">

        {% include "navbar.html" %}
        <!-- {% include "product.html" %} -->
        <br/>
        {% include "footer.html" %}
    </div>

</body>
</html>